.navbarContainer {
    background-color: white;
  }
  .scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  .navItem {
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }
  .logo {
    color: #ff4d6d;
    font-size: 25px;
    text-decoration: none;
  }
  .navLink {
    position: relative;
    color: inherit;
    text-decoration: none;
  }
  
  .navLink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff4d6d;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease;
  }
  
  .navLink:hover::after {
    width: 100%;
  }
  
  @media (max-width: 991px) {
    .navbar {
      text-align: center;
    }
    .clicked {
      background-color: rgba(245, 245, 245, 0.8); /* Semi-transparent dirty white background */
      backdrop-filter: blur(10px); /* Blurs the background */
      transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }
    .navItem {
        font-size: 23px;
    }
}